@using KPI.Classes;
@model IEnumerable<KPILib.Models.PurchaseRcvMast>

@{
    ViewBag.Title = "Purchase Received";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#tblData').DataTable({
            "scrollCollapse": false,
            "paging": true,
            select: false,
            data: @Html.Raw(Json.Encode(Model)),
            columns: [
                {
                    data: null, title: "Print", render: function (d) {
                        return "<a href='../PurchaseRcv/GetRMStackingPlan/" + d.PurchaseRcvdID + "' target='_blank'>Print</a>";
                    }
                },
                {
                    data: "RcvdDate", title: "Received Date", "sType": "date",
                    render: function (d) {
                        return new Date(Number(d.toString().substring(6, 19))).toShortDateFormat();
                    }
                },
                { data: "ReceivedByUser", title: "Received By" },
                { data: "PONumber", title: "PO Number" },
                {
                    data: "PurchaseDate", title: "PO Date", "sType": "date",
                    render: function (d) {
                        return new Date(Number(d.toString().substring(6, 19))).toShortDateFormat();
                    }
                },
                { data: "User", title: "Booked By" },
                { data: "CompanyLocation", title: "Company Location" },
                { data: "Status", title: "Status" }
            ]
        });
    });
</script>

<div class="top_header">

    <h2>@ViewBag.Title</h2>

    @Html.ActionLink("Add New", "Rcv", new { area = "" }, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive">
    <table id="tblData" class="table table-sm table-striped" width="100%">
    </table>
</div>

@*<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.RcvdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedByUser)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="70px">
                @Html.ImageActionLink("", "Get", "PurchaseRcv", new { id = item.PurchaseRcvdID }, null, "~/images/edit.png")
                @Html.ImageActionLink("", "GetAll", "PurchaseRcv", null, null, "~/images/garbage.png")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RcvdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedByUser)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
        </tr>
    }

</table>*@
