@model KPILib.Models.PurchaseRcvPrint

@{
    ViewBag.Title = "GetRMStackingPlan";
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    table {
        border-collapse: collapse;
    }

    tr, td, th {
        border: solid 1px;
        padding: 10px;
    }
</style>
<div class="top_header">
    <h2>Stacking Plan</h2>
</div>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover" style="display:normal;">
        <tr>
            <td style="text-align:center">
                <label>Received from</label><br />
                @Html.DisplayFor(model => model.CompanyLocation)
            </td>
            <td colspan="2" style="text-align:center">
                <label>Received ID</label><br />
                @Html.DisplayFor(model => model.PurchaseRcvdID)
            </td>
            <td colspan="2" style="text-align:center">
                <label>Received Date</label><br />
                @Html.DisplayFor(model => model.RcvdDate)
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                Material Name
            </th>
            <th style="text-align:center">
                Qty (Bags)
            </th>
            <th style="text-align:center">
                Qty (Kgs)
            </th>
            <th style="text-align:center">
                Tag Color
            </th>
            <th style="text-align:center">
                Pallet No
            </th>
        </tr>

        @foreach (var itm in Model.StoredItems)
        {
            <tr>
                <td style="text-align:center">
                    @itm.RMName
                </td>
                <td style="text-align:center">
                    @itm.QtyBags
                </td>
                <td style="text-align:center">
                    @itm.Qty
                </td>
                <td style="text-align:center">
                    @itm.TagColour
                </td>
                <td style="text-align:center">
                    @itm.PalletNo
                </td>
            </tr>
        }

    </table>

    <label>Received By: </label> <label>@Html.DisplayFor(model => model.User)</label><br />
    <label>Loaded By: </label> 
</div>