@model KPILib.Models.PurchaseRcvMast

@{
    ViewBag.Title = "Purchase Received - New";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Back to List", "GetAll")
</div>

@using (Html.BeginForm("Add", "PurchaseRcv"))
{
    @Html.AntiForgeryToken()

    <div class="row g-3">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-row">
            <div class="row">
                <div class="col-md-6">
                    <table class="col-12">
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PurchaseID, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div>
                                    @Html.DisplayFor(model => model.PurchaseID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.HiddenFor(model => model.PurchaseID)
                                    @*@Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })*@
                                </div>
                            </td>
                            <td>
                                @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div>
                                    @Html.DisplayFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control datepicker", @disabled = "disabled" }, type = "date" })*@
                                    @*@Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })*@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div>
                                    @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
                                    @*@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@
                                </div>
                            </td>
                            <td>
                                @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div>
                                    @Html.DisplayFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })*@
                                    @*@Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })*@
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col-md-6">
                            <h4>Line Items</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            @*<input type="button" value="Add Line Item" class="btn btn-primary  btn-sm" />*@
                        </div>
                    </div>
                    <table class="table">
                        <tr>
                            @*<th>
                                    Purchase Detail ID
                                </th>*@
                            <th>
                                Raw Material
                            </th>
                            <th>
                                Ordered (Kgs)
                            </th>
                            <th>
                                Received (Kgs)
                            </th>
                            <th>
                                Balance (Kgs)
                            </th>
                            <th>
                                Rcvd Now (Kgs)
                            </th>
                        </tr>

                        @foreach (var item in Model.LineItems)
                        {
                            Html.RenderPartial("_PurchaseRcvLineItems", item);

                            <!--<tr>
                            <td width="70px">-->
                            @*@Html.ImageActionLink("", "GetPurchaseDetail", "Purchase", new { id = item.PurchaseDetailsID }, null, "~/images/edit.png")
                                @Html.ImageActionLink("", "GetPurchaseDetail", "Purchase", null, null, "~/images/garbage.png")*@
                            <!--</td>-->
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.PurchaseDetailsID)
                                </td>*@
                            <!--<td>-->
                            @*                                @Html.DisplayFor(modelItem => item.RawMatarialName)*@
                            <!--</td>
                            <td>-->
                            @*                              @Html.DisplayFor(modelItem => item.Qty)*@
                            <!--</td>
                            </tr>-->
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                    <div class="">
                        @Html.Label("Is Vendor", new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.RadioButton("VendorType", "VD001", new { @onchange = "LoadVendorDataGeneric(this,'CompanyLocationId')" })
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        @Html.Label("Is KPI Labour", htmlAttributes: new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.RadioButton("VendorType", "VD002", new { @onchange = "LoadVendorDataGeneric(this,'CompanyLocationId')" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        @Html.LabelFor(model => model.CompanyLocationId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @*@Html.EditorFor(model => model.CompanyLocation, new { htmlAttributes = new { @class = "form-control", style = "max-width:100%;", @disabled = "disabled" } })*@
                            @Html.DropDownListFor(model => model.CompanyLocationId, null, "--Select Company and Location--", new { @class = "form-control", style = "max-width:100%;" })
                            @Html.ValidationMessageFor(model => model.CompanyLocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @*@Html.EditorFor(model => model.CompanyLocation, new { htmlAttributes = new { @class = "form-control", style = "max-width:100%;", @disabled = "disabled" } })*@
                            @Html.DropDownListFor(model => model.LocationId, null, "--Select-Location--", new { @class = "form-control", style = "max-width:100%;" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="">
                        @Html.Label("Is QC Received", new { @class = "control-label col-md-12" })
                        <div class="">
                            @*@Html.EditorFor(model => model.CompanyLocation, new { htmlAttributes = new { @class = "form-control", style = "max-width:100%;", @disabled = "disabled" } })*@
                            @Html.CheckBoxFor(model => model.QCReceived)
                            @*@Html.ValidationMessageFor(model => model.CompanyLocationID, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="">
                        @Html.Label("QC Status", new { @class = "control-label col-md-12" })
                        <div class="">
                            @*@Html.EditorFor(model => model.CompanyLocation, new { htmlAttributes = new { @class = "form-control", style = "max-width:100%;", @disabled = "disabled" } })*@
                            @Html.TextBoxFor(model => model.QCStatus, "", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.CompanyLocationID, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Instructions, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @*@Html.DisplayFor(model => model.Instructions, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.TextAreaFor(model => model.Instructions, new { htmlAttributes = new { @class = "form-control" }, @rows = 6, @cols = 1000, style = "max-width:100%;", @disabled = "disabled" })
                            @*@Html.ValidationMessageFor(model => model.Instructions, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input type="submit" value="Save" class="btn btn-dark" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
