@model IEnumerable<KPILib.Models.VendorMasterModel>

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="form-horizontal">

    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.ActionLink("Create New", "AddNew", "", new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>

    <table class="table help-page-table table-sm table-striped AddDataTable" cellspacing="0" style="border:1px solid #000" @*id="VendorTbl"*@>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDiscontinued)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedOn)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDiscontinued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedOn)
                    </td>
                    <td>
                        <a href="/VendorMaster/AddNew?id=@item.VendorId" title="Edit" class="" id="UpdateVendor"><i style="font-size:24px;" class="fa">&#xf044;</i></a>
                        |
                        <a href="#" title="Delete" class="" onclick="DeleteVendorData('@item.VendorName', '@item.VendorId')"><i style="font-size:24px; color:red" class="fa">&#xf014;</i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        $.noConflict();
        $("#VendorTbl").DataTable({
            "scrollCollapse": false,
            "paging": true,
            select: false
        });
    });

    function DeleteVendorData(VendorName, VendorId) {

        if (confirm("Are you sure want to delete Vendor :- " + VendorName)) {
            $.ajax({
                url: "/VendorMaster/DeleteVendor",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ VendorId: VendorId }),
                async: false,
                success: function (data) {
                    if (data.Response.ResponseCode == 440) {
                        alert(data.Response.ResponseMsg);
                        window.location.href = "/Login/Login";
                    }
                    else if (data.Response.ResponseCode == 200) {
                        alert('User deleted successfully');
                        window.location.reload();
                    }
                    else if (data.Response.ResponseCode == 401) {
                        alert(data.Response.ResponseMsg);
                        window.location.href = "/Login/Login";
                    }
                    else {
                        alert(data.Response.ResponseMsg);
                        return false;
                    }
                },
                error: function (response) {
                    alert("Something went wrong");
                    return false;
                }
            });
        }
        else {
            return false;
        }

    }

</script>
